[*.cs]

# SA1614: Element parameter documentation should have text
dotnet_diagnostic.SA1614.severity = none

# SA1616: Element return value documentation should have text
dotnet_diagnostic.SA1616.severity = none

# SA1401: Fields should be private
dotnet_diagnostic.SA1401.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# IDE0052: Remove unread private members
dotnet_diagnostic.IDE0052.severity = none

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none

# IDE0003: Remove qualification
dotnet_style_qualification_for_event = false:none

# IDE0003: Remove qualification
dotnet_style_qualification_for_field = false:none

# IDE0003: Remove qualification
dotnet_style_qualification_for_method = false:none

# IDE0003: Remove qualification
dotnet_style_qualification_for_property = false:none
